.directory
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.backup
*.bbl
*.blg
*.brf
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.ps
*.pfg
*.slg
*.slo
*.sls
*.synctex.gz
*.tcp
*.pdf
*.fdb_latexmk
*.fls
*.auxlock
*.md5
!fig/*.pdf
.DS_Store
external-figures
